.datafield {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputfield {
    display: inline-flex;
    width: 20%;
    margin-bottom: 25px;
}

.facts_table {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 30%;
    min-width: 400px;
    padding:20px;
    margin: 0px auto;
    background: linear-gradient(180deg, rgba(24,27,22,1) 0%, rgba(41,143,184,1) 100%);
    color: white;
    border-radius: 15px;
}
